<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="SimulatedLab-urdf-no-robotic-arm">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.653049682164994 0.306864386533706 0.21880478316424"
        rpy="0 0 0" />
      <mass
        value="462.943637851792" />
      <inertia
        ixx="36.0265418542219"
        ixy="0.00282870253677008"
        ixz="4.69489305833848E-10"
        iyy="76.725665712075"
        iyz="-0.0348331755633981"
        izz="67.5997793901123" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimulatedLab-urdf-no-robotic-arm/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimulatedLab-urdf-no-robotic-arm/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="slide">
    <inertial>
      <origin
        xyz="-0.0726026016400076 0.0123307277676272 0.00333390495357991"
        rpy="0 0 0" />
      <mass
        value="0.41998332351177" />
      <inertia
        ixx="0.000608866562580182"
        ixy="2.9612485871701E-10"
        ixz="-1.13485325734568E-09"
        iyy="0.000510747138181402"
        iyz="1.16604221081589E-06"
        izz="0.00103925065647953" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimulatedLab-urdf-no-robotic-arm/meshes/slide.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimulatedLab-urdf-no-robotic-arm/meshes/slide.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="slide-j"
    type="prismatic">
    <origin
      xyz="-1.5388 0.037454 0.0707"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="slide" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="plate-incubator">
    <inertial>
      <origin
        xyz="-4.5958952684888E-05 -7.05328325164567E-05 0.00753805993131557"
        rpy="0 0 0" />
      <mass
        value="0.0868244944825265" />
      <inertia
        ixx="0.000126271352614738"
        ixy="2.40742980192316E-07"
        ixz="8.29625367849804E-09"
        iyy="5.6414449846667E-05"
        iyz="1.27388047133117E-08"
        izz="0.000180549328693109" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimulatedLab-urdf-no-robotic-arm/meshes/plate-incubator.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimulatedLab-urdf-no-robotic-arm/meshes/plate-incubator.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="plate-incubator-j"
    type="fixed">
    <origin
      xyz="1.4197 0.33999 0.26826"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="plate-incubator" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="plate-microscope">
    <inertial>
      <origin
        xyz="4.59589526853321E-05 7.05328323838406E-05 0.00753805993131673"
        rpy="0 0 0" />
      <mass
        value="0.0868244944825262" />
      <inertia
        ixx="0.000126271352614738"
        ixy="2.40742980191728E-07"
        ixz="-8.29625367427394E-09"
        iyy="5.64144498466676E-05"
        iyz="-1.27388068978236E-08"
        izz="0.000180549328693109" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimulatedLab-urdf-no-robotic-arm/meshes/plate-microscope.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://SimulatedLab-urdf-no-robotic-arm/meshes/plate-microscope.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="plate-microscope-j"
    type="fixed">
    <origin
      xyz="0.89452 0.40325 0.2996"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="plate-microscope" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>